body {
  padding-top: 70px; }
  body h1 {
    color: black;
    font-weight: bold; }
  body .navbar-header {
    color: red; }
  body .property-listing .thumbnail img {
    width: 300px;
    height: 200px; }
  body .property-listing .row-header {
    color: red; }
    body .property-listing .row-header .col-xs-4 {
      text-color: blue; }
  body .profile-listing {
    color: red; }
    body .profile-listing .carousel {
      width: 100%; }
      body .profile-listing .carousel .panes {
        width: 500%; }
        body .profile-listing .carousel .panes > li {
          width: 33.33%; }
