body {
  padding-top: 70px; }
  body h1 {
    color: black;
    font-weight: bold; }
  body .navbar-header {
    color: red; }
  body .property-listing .thumbnail img {
    width: 300px;
    height: 200px; }
  body .property-listing .row-header {
    color: red; }
    body .property-listing .row-header .col-xs-4 {
      text-color: blue; }
  body .clearfix {
    display: inline-block; }
    body .clearfix:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  body .thumnailimage {
    display: block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    float: left; }
    body .thumnailimage > img {
      height: 180px;
      widows: 100%;
      display: block;
      float: left; }
